:root {
    --primary-color: #00223e;
    --primary-dark-color: #232a2e;
    --accent-color: #00e0aa;
    --accent-color-shadow: #00a87e;
    --accent-color-border: 1px solid #00e0aa;
    --accent-text-color: white;
    --title-text-color: white;
    --input-border-color: rgba(0, 224, 170, 0.8);
    --input-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 224, 170, 0.6);
    --panel-title-background: #00223e;
    --panel-title-color: white;
    --navegador-selected-color: var(--primary-color);
    --alert-info-background: linear-gradient(rgb(217, 237, 247) 0px, rgb(185, 222, 240) 100%);
    --alert-info-border: 1px solid rgb(154, 207, 234);
}
#foto {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

}
