:root {
	--primary-color: #ffffff;
	--primary-dark-color: #bbbbbb;
	--accent-color: #3e80bf;
	--accent-color-shadow: #00223e;
	--accent-color-border: 1px solid #3e80bf;
	--accent-text-color: white;
	--title-text-color: black;
	--input-border-color: rgba(62, 128, 191, 0.8);
	--input-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 128, 191, 0.6);
	--panel-title-background: #bbbbbb;
	--panel-title-color: white;
	--navegador-selected-color: var(--accent-color-shadow);
	--alert-info-background: linear-gradient(#b3daff 0px, #97ccfd 100%);
	--alert-info-border: 1px solid rgb(82, 172, 255);
}