.situacion-00{
    background:#80E4DA;
}

.situacion-01{
    background:#C4D79B;
}

.situacion-02{
    background:#FFC926;
}

.situacion-03{
    background:#B1A0C7;
}

.situacion-04{
    background:#DA9694;
}

.situacion-05{
    background:#7B6148;
}

.situacion-06{
    background:#404040;
}

.noInfo{
    background: #ffd5d5;
}